*{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}

.container{
    margin: 0;
    position: relative;
}

h2{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}


.header-logo{
    position: relative;
    color: #f9faf8;
    font-size: 24px;
    left:-150px;
}

.header-link{
    color: #f9faf8;
    margin-top: 20px;
    gap: 30px;
    display:flex ;
    justify-content: space-around;
    font-size: 1.3em;
    position: relative;
    right: -150px;
}

.header-one p{
    font-size: 18px;
    color: #e5e7eb;
}

.header-container{
    position: relative;
    display: flex;  
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
    width: 100%;
    height: 550px;
}

.top-header{
    display: flex;
    padding: 15px;
    justify-content: center;
    width: 100%;
    height: 15vh;
}

.header-one{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 485px;
    left: 10px;
}

.container2{
    display: flex;
    justify-content: space-evenly;
    border: 0;
    margin: 0;
    position: relative;
    padding: 80px;
    width: 100%;
}

.image1{

    position: relative;
    height: 260px;
    width: 570px;
}

.signup{
  border: 0;
  background-color: #3882f6;
  padding: 7px 3px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  width: 125px;
  margin-top: 10px;
}

.body-container{
    display: flex;
    flex: 1;
    width: 100%;
    height: 450px;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}

.body-container h3{
    color: #1f2937;
    font-weight: 800;
    font-size: 36px;
    padding: 35px;
}

.figure-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 10px;
    height: 200px;
    width: 100%;
}

.figure-container > figure{
    border: 4px solid #3882f6;
    border-radius: 18px;
    height: 10rem;
    width: 10rem;
}

.figure-container img{
    border-radius: 14px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.figure-container figcaption{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #7e8288;
}

.paragraph-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    width: 100%;
    height: 450px;

}

.paragraph{
    width: 800px;
    height: 200px;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.thor{
    position: relative;
    display: flex;
    align-self: flex-end;
    font-weight: 700;
    font-size: 1.4rem;
    right: 270px;
}

.lower-container{
    width: 100%;
    height: 400px;
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    width: 70%;
    height: 35%;
    border-radius: 1rem;
}

.call{
    color: #f9faf8;
    font-size: 1.1rem;
    font-weight: 700;
}

.sign{
    position: relative;
    color: #f9faf8;
    font-weight: 400px;
    align-self: flex-end;
    right: 12rem;
    bottom: 2.5rem;
}

.SignUp2{
    position: relative;
    font-weight: 650;
    color: #f9faf8;
    background-color: #3882f6;
    height: 35px;
    width: 120px;
    border: solid #f9faf8 2px;
    border-radius: 0.5rem;
    top:5px;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

